.title {
    color: #3c8882; 
    background-image: url("https://p.potaufeu.asahi.com/81e5-p/picture/16854603/9634c3a4cbe713cc29284db6bb915877.jpg");
    background-size: cover;

}


.title2 {
  color: #336998;
  font-size: 30px;
}

li {
  color:#3c8882;
}

.title3 {
  color: #02ccba;
}
