.title{
  font-family:serif;
  text-align:center;
  height:60px;
  line-height:60px;
}

.title2{
  font-family:serif;
  text-align:center;
  height:60px;
  line-height:60px;
}

.title3{
  font-family:serif;
  color:teal;
  text-align:center;
  height:60px;
  line-height:60px;
}

.title4{
  font-family:serif;
}

div{
  font-family:serif;
}

li{
  font-family:serif;
}

/* body{
  background-color: rgb(227, 233, 242);
} */
